.mail_button {
    padding-bottom: 5px;
    float: left;
    display: inline-block;
    margin-right: 0.5%;
}

.i_button_background {
    color: #f39c12;
}

.logo_center {
    margin-bottom: 50px;
    text-align: center;
}