.mail_button {
    padding-bottom: 5px;
    float: left;
    display: inline-block;
    margin-right: 0.5%;
}

.i_button_background {
    color: #f39c12;
}

.logo_center {
    margin-bottom: 50px;
    text-align: center;
}

.table_dark_bg {
    background-color: #343a40;
    color: white;
}

.vip_yes {
    color: black;
    font-weight: 500;
}

.vip_yes:hover {
    color: #212529;
    font-weight: 500;
}

.nav-small {
    line-height: 100%;
    font-size: 15px;
}